* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    background-color: #12181B;
}

.startgame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.startgame label {
    margin: 2%;
    color: white;
    font-size: larger
}

.startgame button {
    outline: none;
    border: none;
    background-color: green;
    color: white;
    padding: 1%;
    transition: 0.3s;
    border-radius: 5px;
}

.startgame button:hover {
    background-color: rgb(2, 210, 2);
}

.background {
    height: 100vh;
    padding-top: 1px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 4%;
}

.display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.tile {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    transition: 0.2s;
}

.tile:hover {
    background-color: gray;
}

.playerX {
    color: #09C372;
}

.playerO {
    color: #498AFB;
}

.tie {
    color: white;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: black;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.restart {
    background-color: #498AFB;
}

#reset:hover {
    background-color: black;
    color: white;
}

#reset {
    display: none;
    background-color: white;
    transition: 0.3s;
}